
/* font-family: 'Montserrat Alternates', sans-serif; */
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box ;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.container {
    max-width: 1080px;
    margin: auto;
    padding: 0 10px;
    overflow-x: hidden;
}
a, button {
    text-decoration: none;
}
button, 
button:active, 
button:focus {
    outline: none;
}
.main {
    padding: 120px 0;
}
/* === header === */
.header {
    background: url(../img/bgImage.png) no-repeat center top;
    background-size: cover;
    color: #ffffff;
}
.navbar {
    padding-top: 24px;
}
.navbar-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo__text {
    display: block;
    margin-bottom: 7px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 24px;;
    font-weight: bold;
}
.logo__description,
.description__mobile {
    font-size: 16px;
}
.navbar__button {
    display: none;
}
.navbar__menu {
    display: flex;
    align-items: center;
}
.menu__item {
    display: block;
    margin-right: 24px;
}
.menu__item:last-child {
    margin: 0;
}
.menu__item a {
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
}
.menu__call {
    display: flex;
    align-items: center;
    min-width: 225px;
    color: #ffffff;
    font-weight: 600;
    padding: 12px 16px;
    border: 2px solid #FFFFFF;
    background: none;
    text-transform: uppercase;
    border-radius: 1000px;
}
.menu__call-img {
    margin-left: 10px;
    height: 20px;
    width: 20px;
}
.hero {
    padding-top: 193px;
    padding-bottom: 82px;
}
.hero__title {
    margin: 0 auto;
    margin-bottom: 194px;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 52px;
}
.hero__links {
    display: flex;
    justify-content: center;
}
.hero__links a {
    margin-right: 24px;
    font-size: 16px;
    color: #ffffff;
    text-decoration: underline;
}
.hero__links a:last-child {
    margin: 0;
}
/* === /header === */

/* === advantages === */

.advantages {
    padding: 160px 0 160px 0;
    background: linear-gradient(180deg, #F0EDE2 28.86%, #D6CDAC 100%);
    margin: auto 0;
    text-align: center;
}
.advantages__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.advantages__title {
    margin-bottom: 24px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 44px;
}
.advantages__descr {
    margin-bottom: 80px;
    font-weight: 500;
}
.advantages__item-text {
    margin-top: 34px;
    font-weight: 500;
}
/* === /advantages === */

/* === picture === */

.picture {
    height: 948px;
    background: url(../img/section-picture.jpg) no-repeat center center;
    background-size: cover;
}

/* === /picture === */

/* === catalog === */

.title {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 44px;
    text-align: center;
}
.catalog-wrap {
    margin: 80px 0 6px;
    display: flex;
    justify-content: space-between;
}
.catalog__left,
.catalog__center,
.catalog__right {
    display: flex;
    flex-direction: column;
}
.catalog__block {
    margin-bottom: 46px;
    max-width: 296px;
}
.catalog__block-title {
    padding: 20px 0 2px 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
}
.catalog__block-text {
    color: #637381;
}
.show-more {
    display: block;
    margin: auto;
    padding: 12px 14px;
    background: none;
    border: 1px solid #DFE3E8;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #6772E5;
}
/* === /catalog === */

/* === feedback === */
.feedback {
    position: relative;
    background-color: #EEC200;
}
.feedback h2 {
    color: #ffffff;
}
.brush-right {
    position: absolute;
    top: 0;
    right: 0;
}
.brush-left {
    position: absolute;
    left: 0;
    bottom: 0;
}
.form-wrap {
    margin-top: 24px;
    display: flex;
    justify-content: center;
}
.form__group {
    margin-bottom: 32px;
}
.form__label {
    margin-bottom: 8px;
    display: block;
    color: #ffffff;
}
.form__input,
.form__text {
    height: 48px;
    width: 600px;
    padding-left: 14px;
    border-radius: 4px;
    background: #F4F6F8;
    border: none;
    outline: none;
}
.form__text {
    padding-top: 14px;
    height: 96px;
    resize: none;
}
.form__input::placeholder {
    color: #919EAB;
    opacity: 1; /* Mozilla */
}
.form__input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #919EAB;
}
.form__input::-ms-input-placeholder { /* Microsoft Edge */
    color: #919EAB;
}
.btn-offer {
    float: right;
    padding: 12px;
    color: #ffffff;
    background: #6772E5;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    border: none;
    outline: none;
}
/* === /feedback === */

/* === slider === */
.slider-wrap {
    position: relative;
    margin-top: 60px;
}
.owl-item {
    position: relative;
    max-height: 750px;
}
.owl-item::before {
    content: '';
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 1.2s;
}
.active::before {
    background: none !important;
}
.next {
    position: absolute;
    z-index: 10;
    top: 50%;
    right: -70%;
    height: 75px;
    width: 75px;
}
/* === /slider === */

/* === MOBILE === */
@media (min-width: 992px) and (max-width: 1079px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 768px) and (max-width: 959px) {
    .container {
        max-width: 750px;
    }
    .advantages__item {
        flex-basis: 50%;
        margin-top: 36px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
    }
    .main {
        padding: 48px 0;
    }
    .navbar{
        padding: 0;
        position: fixed;
        width: 100%;
        background-color: #ffffff;
    }
    .navbar__logo {
        padding-left: 16px;
    }
    .navbar__button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        height: 63px;
        width: 64px;
    }
    .navbar__button-line {
        margin-top: 4px;
        width: 20px;
        height: 2px;
        background-color: #000000;
        border-radius: 6px;
    }
    .navbar__button-line:first-child {
        margin: 0;
    }
    .logo__text {
        font-size: 14px;
        color: black;
    }
    .logo__description {
        font-size: 12px;
        color: #919EAB;
    }
    .navbar__menu,
    .description__mobile {
        display: none;
    }
    .hero {
        padding-bottom: 25px;
    }
    .hero__title {
        margin-bottom: 156px;
        font-size: 28px;
    }
    .advantages {
        padding: 48px 0 60px;
    }
    .advantages__descr {
        padding: 0 10px;
        margin-bottom: 30px;
    }
    .advantages__title {
        font-size: 20px;
    }
    .advantages__item {
        flex-basis: 100%;
        margin-top: 36px;
    }
    .picture {
        margin: 0;
        height: 320px;
    }
    .title {
        font-size: 20px;
    }
    .catalog-wrap {
        margin-top: 24px;
        flex-direction: column;
    }
    .form__input,
    .form__text {
        width: 288px;
    }
    .title {
        position: relative;
        z-index: 99;
    }
    .brush-right {
        height: 12%;
    }
    .brush-left {
        height: 5%;
        width: 50%;
    }
    .btn-offer {
        float: none;
        width: 100%;
    }
    .slider-wrap {
        margin-top: 24px;
    }
}
/* === /MOBILE === */